body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
}

.container {
    background-color: #1e1e1e;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

input, select, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #2c2c2c;
    color: #e0e0e0;
    font-size: 16px;
}

button {
    background-color: #098ff6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #098ff6;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
}

#myChart {
    margin-top: 30px;
    max-width: 100%;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }
}